<div class="container">
  <div class="card">
    <h1>Patients (<%= Current.account&.name %>)</h1>
  </div>

  <% @patients.each do |p| %>
    <div class="card">
      <%= link_to p.name, patient_path(p), class: 'btn' %>
    </div>
  <% end %>
</div>
